.toda_pagina{
 margin: 0;
 padding: 0;
 width: 100%;
}
.name_image{
   display: flex;
   align-items: center;
   flex-direction: column;
   background-image: url('../image/zyro-image.png');
    background-repeat: no-repeat;
    min-height: 50vh;
    width: 100%;
    background-size:100% 100%;
  .Nombre{
    font-size: 7ch;
    font-family: 'DM Sans', sans-serif;
    margin: 0;
    color: white;
    -webkit-text-stroke: 0.5px black;
  }
}
.laimagen{
    height: 30em;
    margin: 0.5em;
}

.el_pokemon{
 width: 40%;
  display: flex;
 justify-content: center;
 align-items: center; 
 

}

   
.caja_data{
 
  padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
    .cards {
        font-family: Helvetica, sans-serif;
        background-color: white;
        display: flex;
        width: 99.99%;
        background-color: rgba(0, 0, 0, 0.971);
      }
    
      .wrapper {
        display: flex;
        font-size: medium;
        margin: 0em 1.1em;
      }
    
      .cuadros {
        padding: 4% 13%;
        align-items: center;
        flex-direction: row;
        border-bottom: solid 0.1em;
        border-top: solid 0.1em;
        color:white;
      }

      @media (max-width: 768px) {
        .cuadros{
            padding: 1%;
            display: flex;
            flex-wrap: wrap;
        } 
        .wrapper{
          margin: 0;
        }
        .laimagen{
          height: 20em;
        }

      }
   
      
     
      
 
      
    
  
      
 
      
    
      
      